# Node dependencies
/app/node_modules

# Build output
/app/dist

# Vite cache
/app/.vite

# Env files
/app/.env
/app/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
